absl-py
astunparse
cachetools
certifi
chardet
cycler
decorator
django
filelock
future
gast
gdown
gluoncv
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
idna
imageio
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mxnet
networkx
numpy
oauthlib
opencv-python
opt-einsum
Pillow
portalocker
protobuf
pyasn1
pyasn1-modules
pyparsing
PySocks
python-dateutil
PyWavelets
requests
requests-oauthlib
rsa
scikit-image
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
# termcolor
tifffile
torch
tqdm
urllib3
Werkzeug
wrapt
