absl-py
astunparse==1.6.3
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
django==3.1.12
filelock==3.0.12
future==0.18.2
gast==0.3.3
gdown==3.11.1
gluoncv==0.7.0
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.30.0
h5py
idna==2.10
imageio==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.2.2
mxnet==1.6.0
networkx==2.4
numpy
oauthlib
opencv-python
opt-einsum
Pillow
portalocker
protobuf
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
PySocks
python-dateutil
PyWavelets==1.1.1
requests==2.24.0
requests-oauthlib
rsa
scikit-image
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
# termcolor
tifffile
torch
tqdm
urllib3
Werkzeug
wrapt
